.button {
  padding: 12px 24px;
  border: 1px solid $black;
  font: inherit;
  border-radius: 4px;
  background-color: transparent;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  transition: all 300ms ease;
  &:hover {
    color: white;
    background-color: $black;
  }
}
